* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    color: #2B283A;
}
.Navbar {
    height: 55px;
    line-height: 55px;
    background: #F55A5A;
    color: white;
    text-align: center;
}
.Navbar img {
    height: 32px;
    vertical-align: -7px;
    margin: auto 7px;
}
.Navbar p {
    margin: 0;
    font-size: 24px;
    display: inline;
}
.cards {
    margin: 0px auto;
    width: 60%;
    max-width: 600px;
    /* box-shadow: 5px 5px 20px grey; */
}
.card {
    display: flex;
    margin: 20px 0px;
}
.card-img {
    /* width: 125px; */
    /* height: 168px; */
    width: 30%;
    border-radius: 5px;
}
.card-info {
    padding: 16px 16px 0px;
}
.pointer {
    width: 9px;
    margin-right: 5px;
}
.card-info__location {
    display: inline;
    letter-spacing: 0.17em;
    padding-right: 10px;
}
.card-info a {
    color: #918E9B;
}
.card-info__title{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-block-start: 10px;
}
.card-info__dates {
    font-weight: 700;
    font-size: 13px;
    line-height: 12px;
}
.card-info__description {
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
}